<ul class="nav nav-tabs responsive-tabs float-end" id="myTab">
    <li class="active">
        <a data-toggle="tab" href="#popular"><i class="ti-bar-chart"></i>محبوب</a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#ending"><i class="ti-timer"></i> به زودی پایان می‌یابد</a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#online"><i class="ti-link"></i>آنلاین</a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#atStore"><i class="ti-receipt"></i>در فروشگاه</a>
    </li>
</ul>
<div class="tab-content clearfix" id="myTabContent">

<div id="popular" class="tab-pane counties-pane active animated fadeIn">
<div class="coupon-wrapper row">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">72%</div>
                <div class="small">تخفیف</div>
                <div class="type">معامله</div>
            </div>
        </div>
        <!-- پایان: تخفیف -->
    </div>
    <!-- پایان: داده‌ی کوپن -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="sale label label-pink">حراج</li>
            <li class="label label-info">در فروشگاه</li>
            <li>
                <span class="used-count">27 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">10% اضافی تخفیف بر روی چمدان‌های انتخابی + تا 150 دلار پس‌گرفتن امتیاز برای اعضا + ارسال رایگان</a>
        </h4>
        <p data-toggle="collapse" data-target="#1">برای صرفه‌جویی بیشتر از این پیشنهادات روز استفاده کنید...</p>
        <p id="1" class="collapse">از صرفه‌جویی‌های تخفیفی بهره‌مند شوید. اکنون کوپن خود را بگیرید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="کار کرد">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="کار نکرد">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- پایان: گروه دکمه -->
            </li>
            <li class="list-inline-item">30% از 54 نفر پیشنهاد کردند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک‌گذاری</a>
            </li>
        </ul>
        <!-- پایان: جزئیات کوپن -->
    </div>
    <!-- پایان: محتوای کوپن -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">کد را دریافت کنید</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- پایان: بسته کوپن -->
<div class="coupon-wrapper row featured">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">25%</div>
                <div class="small">تخفیف</div>
                <div class="type">کوپن</div>
            </div>
        </div>
        <!-- پایان: تخفیف -->
    </div>
    <!-- پایان: داده‌ی کوپن -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="sale label label-pink">حراج</li>
            <li class="popular label label-success">100% موفقیت</li>
            <li>
                <span class="verified  text-success"><i class="ti-face-smile"></i>تایید شده</span>
            </li>
            <li>
                <span class="used-count">78 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">تا 70% تخفیف | کدهای تخفیف و کوپن‌های Shopname</a>
        </h4>
        <p data-toggle="collapse" data-target="#more">برای صرفه‌جویی بیشتر از این پیشنهادات روز استفاده کنید...</p>
        <p id="more" class="collapse">از صرفه‌جویی‌های تخفیفی بهره‌مند شوید. اکنون کوپن خود را بگیرید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="کار کرد">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="کار نکرد">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- پایان: گروه دکمه -->
            </li>
            <li class="list-inline-item">30% از 54 نفر پیشنهاد کردند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک‌گذاری</a>
            </li>
        </ul>
        <!-- پایان: جزئیات کوپن -->
    </div>
    <!-- پایان: محتوای کوپن -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">کد را دریافت کنید</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>

</div>
<!-- پایان: بسته کوپن -->
<div class="coupon-wrapper row">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">15%</div>
                <div class="small">تخفیف</div>
                <div class="type">کوپن</div>
            </div>
        </div>
        <!-- پایان: تخفیف -->
    </div>
    <!-- پایان: داده‌ی کوپن -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="promo label label-pink">کد تبلیغاتی</li>
            <li class="sale label label-warning">پایان یافته</li>
            <li>
                <span class="used-count">51 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">20% تخفیف با پیکاپ در فروشگاه</a>
        </h4>
        <p data-toggle="collapse" data-target="#more1">آنلاین خرید کنید و در فروشگاه تحویل بگیرید تا 15% یا 20% صرفه‌جویی کنید...</p>
        <p id="more1" class="collapse">از صرفه‌جویی‌های تخفیفی بهره‌مند شوید. اکنون کوپن خود را بگیرید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="کار کرد">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="کار نکرد">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- پایان: گروه دکمه -->
            </li>
            <li class="list-inline-item">30% از 54 نفر پیشنهاد کردند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک‌گذاری</a>
            </li>
        </ul>
        <!-- پایان: جزئیات کوپن -->
    </div>
    <!-- پایان: محتوای کوپن -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">کد را دریافت کنید</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- پایان: بسته کوپن -->
<div class="coupon-wrapper row">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">72%</div>
                <div class="small">تخفیف</div>
                <div class="type">معامله</div>
            </div>
        </div>
        <!-- پایان: تخفیف -->
    </div>
    <!-- پایان: داده‌ی کوپن -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="sale label label-pink">حراج</li>
            <li class="label label-info">در فروشگاه</li>
            <li>
                <span class="used-count">27 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">
                10% اضافی تخفیف بر روی چمدان‌های انتخابی + تا 150 دلار پس‌گرفتن امتیا

                ز برای اعضا + ارسال رایگان
            </a>
        </h4>
        <p data-toggle="collapse" data-target="#more-1">برای صرفه‌جویی بیشتر از این پیشنهادات روز استفاده کنید...</p>
        <p id="more-1" class="collapse">از صرفه‌جویی‌های تخفیفی بهره‌مند شوید. اکنون کوپن خود را بگیرید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="کار کرد">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="کار نکرد">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- پایان: گروه دکمه -->
            </li>
            <li class="list-inline-item">30% از 54 نفر پیشنهاد کردند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک‌گذاری</a>
            </li>
        </ul>
        <!-- پایان: جزئیات کوپن -->
    </div>
    <!-- پایان: محتوای کوپن -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">کد را دریافت کنید</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>

</div>
<!-- پایان: بسته کوپن -->
</div>


Copy code
<div id="ending" class="tab-pane counties-pane animated fadeIn">
    <div class="coupon-wrapper row">
        <div class="coupon-data col-sm-2 text-center">
            <div class="savings text-center">
                <div>
                    <div class="large">45%</div>
                    <div class="small">تخفیف</div>
                    <div class="type">کوپن</div>
                </div>
            </div>
            <!-- پایان: صرفه‌جویی -->
        </div>
        <!-- پایان: داده کوپن -->
        <div class="coupon-contain col-sm-7">
            <ul class="list-inline list-unstyled">
                <li class="sale label label-pink">حراج</li>
                <li class="popular label label-success">100% موفقیت</li>
                <li>
                    <span class="verified  text-success"><i class="ti-face-smile"></i>تایید شده</span>
                </li>
                <li>
                    <span class="used-count">245 بار استفاده شده</span>
                </li>
            </ul>
            <h4 class="coupon-title">
                <a href="#">تخفیف تا 50% برای پاک کردن موجود است</a>
            </h4>
            <p data-toggle="collapse" data-target="#more2">برای صرفه‌جویی بیشتر از این پیشنهادات روز استفاده کنید...</p>
            <p id="more2" class="collapse">از صرفه‌جویی‌های تخفیفی بهره‌مند شوید. اکنون کوپن خود را بگیرید و صرفه‌جویی کنید</p>
            <ul class="coupon-details list-inline">
                <li class="list-inline-item">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="کار کرد">
                            <i class="ti-thumb-up"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="کار نکرد">
                            <i class="ti-thumb-down"></i>
                        </button>
                    </div>
                    <!-- پایان: گروه دکمه -->
                </li>
                <li class="list-inline-item">30% از 54 نفر پیشنهاد کردند</li>
                <li class="list-inline-item">
                    <a href="#">اشتراک‌گذاری</a>
                </li>
            </ul>
            <!-- پایان: جزئیات کوپن -->
        </div>
        <!-- پایان: محتوای کوپن -->
        <div class="button-contain col-sm-3 text-center">
            <p class="btn-code" data-toggle="modal" data-target=".couponModal">
                <span class="partial-code">BTSBAGS</span> <span class="btn-hover">کد را دریافت کنید</span>
            </p>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs">
                    <i class="ti-star"></i>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <i class="ti-email"></i>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <i class="ti-mobile"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- پایان: بسته کوپن -->
    <div class="coupon-wrapper row">
        <div class="coupon-data col-sm-2 text-center">
            <div class="savings text-center">
                <div>
                    <div class="large">50%</div>
                    <div class="small">تخفیف</div>
                    <div class="type">کوپن</div>
                </div>
            </div>
            <!-- پایان: صرفه‌جویی -->
        </div>
        <!-- پایان: داده کوپن -->
        <div class="coupon-contain col-sm-7">
            <ul class="list-inline list-unstyled">
                <li class="promo label label-pink">
                    کد تبلیغات

                </li>
                <li class="sale label label-warning">پایان</li>
                <li>
                    <span class="used-count">51 بار استفاده شده</span>
                </li>
            </ul>
            <h4 class="coupon-title">
                <a href="#">آنتی‌پرسپیرانت و دئودورانت مردانه Jack Black Pit Boss</a>
            </h4>
            <p data-toggle="collapse" data-target="#2">آنلاین خرید کنید و در فروشگاه تحویل بگیرید تا 15% یا 20% صرفه‌جویی کنید...</p>
            <p id="2" class="collapse">از صرفه‌جویی‌های تخفیفی بهره‌مند شوید. اکنون کوپن خود را بگیرید و صرفه‌جویی کنید</p>
            <ul class="coupon-details list-inline">
                <li class="list-inline-item">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="کار کرد">
                            <i class="ti-thumb-up"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="کار نکرد">
                            <i class="ti-thumb-down"></i>
                        </button>
                    </div>
                    <!-- end:Btn group -->
                </li>
                <li class="list-inline-item">30% از 54 نفر پیشنهاد کردند</li>
                <li class="list-inline-item">
                    <a href="#">اشتراک‌گذاری</a>
                </li>
            </ul>
            <!-- end:Coupon details -->
        </div>
        <!-- end:Coupon cont -->
        <div class="button-contain col-sm-3 text-center">
            <p class="btn-code" data-toggle="modal" data-target=".couponModal">
                <span class="partial-code">BTSBAGS</span> <span class="btn-hover">کد را دریافت کنید</span>
            </p>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs">
                    <i class="ti-star"></i>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <i class="ti-email"></i>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <i class="ti-mobile"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- end: coupon wrap -->
    <div class="coupon-wrapper row">
        <div class="coupon-data col-sm-2 text-center">
            <div class="savings text-center">
                <div>
                    <div class="large">72%</div>
                    <div class="small">تخفیف</div>
                    <div class="type">معامله</div>
                </div>
            </div>
            <!-- end:Savings -->
        </div>
        <!-- end:Coupon data -->
        <div class="coupon-contain col-sm-7">
            <ul class="list-inline list-unstyled">
                <li class="sale label label-pink">حراج</li>
                <li>
                    <span class="used-count">27 بار استفاده شده</span>
                </li>
            </ul>
            <h4 class="coupon-title">
                <a href="#">10% اضافی تخفیف بر روی چمدان‌های انتخابی + تا 150 دلار پس انداز برای اعضای ویژه + ارسال رایگان</a>
            </h4>
            <p data-toggle="collapse" data-target="#more3">برای صرفه‌جویی بیشتر از این پیشنهادات روز استفاده کنید...</p>
            <p id="more3" class="collapse">از صرفه‌جویی‌های تخفیفی بهره‌مند شوید. اکنون کوپن خود را بگیرید و صرفه‌جویی کنید</p>
            <ul class="coupon-details list-inline">
                <li class="list-inline-item">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="کار کرد">
                            <i class="ti-thumb-up"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="کار نکرد">
                            <i class="ti-thumb-down"></i>
                        </button>
                    </div>
                    <!-- end:Btn group -->
                </li>
                <li class="list-inline-item">
                    30% از 54 نفر پیشنهاد

                    ۲اند کردند
                </li>
                <li class="list-inline-item">
                    <a href="#">اشتراک‌گذاری</a>
                </li>
            </ul>
            <!-- end:Coupon details -->
        </div>
        <!-- end:Coupon cont -->
        <div class="button-contain col-sm-3 text-center">
            <p class="btn-code" data-toggle="modal" data-target=".couponModal">
                <span class="partial-code">BTSBAGS</span> <span class="btn-hover">کد را دریافت کنید</span>
            </p>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default btn-xs">
                    <i class="ti-star"></i>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <i class="ti-email"></i>
                </button>
                <button type="button" class="btn btn-default btn-xs">
                    <i class="ti-mobile"></i>
                </button>
            </div>
        </div>

    </div>
    <!-- end: coupon wrap -->
</div>

@* ............... *@
<div id="online" class="tab-pane counties-pane animated fadeIn">
<div class="coupon-wrapper row featured">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">25%</div>
                <div class="small">تخفیف</div>
                <div class="type">کوپن</div>
            </div>
        </div>
        <!-- end:Savings -->
    </div>
    <!-- end:Coupon data -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="sale label label-pink">فروش</li>
            <li class="popular label label-success">100% موفقیت</li>
            <li>
                <span class="verified text-success"><i class="ti-face-smile"></i>تایید شده</span>
            </li>
            <li>
                <span class="used-count">78 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">تا 70% تخفیف | کدهای تخفیف و کوپن‌های Shopname</a>
        </h4>
        <p data-toggle="collapse" data-target="3">این تخفیفات روزانه Shopname را خریداری کنید تا صرفه‌جویی کنید...</p>
        <p id="3" class="collapse">تخفیفات کوپن را از دست ندهید. همین حالا کوپن خود را دریافت کنید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn
 
                   btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="موفق بود">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="موفق نبود">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- end:Btn group -->
            </li>
            <li class="list-inline-item">30% از 54 توصیه کرده‌اند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک گذاری</a>
            </li>
        </ul>
        <!-- end:Coupon details -->
    </div>
    <!-- end:Coupon cont -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">دریافت کد</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- end: coupon wrap -->
<div class="coupon-wrapper row">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">15%</div>
                <div class="small">تخفیف</div>
                <div class="type">کوپن</div>
            </div>
        </div>
        <!-- end:Savings -->
    </div>
    <!-- end:Coupon data -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="promo label label-pink">کد تبلیغاتی</li>
            <li class="sale label label-warning">در حال اتمام</li>
            <li>
                <span class="used-count">51 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">20% تخفیف با تحویل در فروشگاه</a>
        </h4>
        <p data-toggle="collapse" data-target="4">خرید آنلاین و تحویل در فروشگاه برای صرفه‌جویی 15% یا 20%...</p>
        <p id="4" class="collapse">تخفیفات کوپن را از دست ندهید. همین حالا کوپن خود را دریافت کنید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="موفق بود">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="موفق نبود">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- end:Btn group -->
            </li>
            <li class="list-inline-item">30% از 54 توصیه کرده‌اند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک گذاری</a>
            </li>
        </ul>
        <!-- end:Coupon details -->
    </div>
    <!-- end:Coupon cont -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">دریافت کد</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- end: coupon wrap -->
<div class="coupon-wrapper row">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">72%</div>
                <div class="small">تخفیف</div>
                <div class="type">معامله</div>
            </div>
        </div>
        <!-- end:Savings -->
    </div>
    <!-- end:Coupon data -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="sale label label-pink">فروش</li>
            <li>
                <span class="used-count">27 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">10% تخفیف اضافی برای چمدان‌های منتخب + تا 150 دلار بازگشت امتیاز برای اعضا + ارسال رایگان</a>
        </h4>
        <p data-toggle="collapse" data-target="5">این تخفیفات روزانه Shopname را خریداری کنید تا صرفه‌جویی کنید...</p>
        <p id="5" class="collapse">تخفیفات کوپن را از دست ندهید. همین حالا کوپن خود را دریافت کنید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="موفق بود">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="موفق نبود">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- end:Btn group -->
            </li>
            <li class="list-inline-item">30% از 54 توصیه کرده‌اند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک گذاری</a>
            </li>
        </ul>
        <!-- end:Coupon details -->
    </div>
    <!-- end:Coupon cont -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">دریافت کد</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- end: coupon wrap -->
<div class="coupon-wrapper row">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">50%</div>
                <div class="small">تخفیف</div>
                <div class="type">کوپن</div>
            </div>
        </div>
        <!-- end:Savings -->
    </div>
    <!-- end:Coupon data -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="promo label label-pink">کد تبلیغاتی</li>
            <li class="sale label label-warning">در حال اتمام</li>
            <li>
                <span class="used-count">51 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">دئودورانت و ضد تعریق مردانه جک بلک</a>
        </h4>
        <p data-toggle="collapse" data-target="#more-3">خرید آنلاین و تحویل در فروشگاه برای صرفه‌جویی 15% یا 20%...</p>
        <p id="more-3" class="collapse">تخفیفات کوپن را از دست ندهید. همین حالا کوپن خود را دریافت کنید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="موفق بود">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="موفق نبود">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- end:Btn group -->
            </li>
            <li class="list-inline-item">30% از 54 توصیه کرده‌اند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک گذاری</a>
            </li>
        </ul>
        <!-- end:Coupon details -->
    </div>
    <!-- end:Coupon cont -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">دریافت کد</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- end: coupon wrap -->
</div>
<div id="atStore" class="tab-pane counties-pane animated fadeIn">
<div class="coupon-wrapper row featured">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">25%</div>
                <div class="small">تخفیف</div>
                <div class="type">کوپن</div>
            </div>
        </div>
        <!-- پایان: Savings -->
    </div>
    <!-- پایان: Coupon data -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="sale label label-pink">فروش</li>
            <li class="popular label label-success">100% موفق</li>
            <li>
                <span class="verified text-success"><i class="ti-face-smile"></i>تأیید شده</span>
            </li>
            <li>
                <span class="used-count">78 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">تا 70% تخفیف | کدهای تبلیغاتی و کوپن‌های Shopname</a>
        </h4>
        <p data-toggle="collapse" data-target="6">این معاملات روزانه Shopname را خریداری کنید تا صرفه‌جویی کنید...</p>
        <p id="6" class="collapse">تخفیفات کوپن را از دست ندهید. همین حالا کوپن خود را دریافت کنید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="موفق بود">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="موفق نبود">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- پایان: Btn group -->
            </li>
            <li class="list-inline-item">30% از 54 توصیه کرده‌اند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک‌گذاری</a>
            </li>
        </ul>
        <!-- پایان: Coupon details -->
    </div>
    <!-- پایان: Coupon cont -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">دریافت کد</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- پایان: coupon wrap -->
<div class="coupon-wrapper row">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">15%</div>
                <div class="small">تخفیف</div>
                <div class="type">کوپن</div>
            </div>
        </div>
        <!-- پایان: Savings -->
    </div>
    <!-- پایان: Coupon data -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="promo label label-pink">کد تبلیغاتی</li>
            <li class="sale label label-warning">در حال اتمام</li>
            <li>
                <span class="used-count">51 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">20% تخفیف با تحویل در فروشگاه</a>
        </h4>
        <p data-toggle="collapse" data-target="#7">خرید آنلاین و تحویل در فروشگاه برای صرفه‌جویی 15% یا 20%...</p>
        <p id="7" class="collapse">تخفیفات کوپن را از دست ندهید. همین حالا کوپن خود را دریافت کنید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="موفق بود">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="موفق نبود">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- پایان: Btn group -->
            </li>
            <li class="list-inline-item">30% از 54 توصیه کرده‌اند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک‌گذاری</a>
            </li>
        </ul>
        <!-- پایان: Coupon details -->
    </div>
    <!-- پایان: Coupon cont -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">دریافت کد</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- پایان: coupon wrap -->
<div class="coupon-wrapper row">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">72%</div>
                <div class="small">تخفیف</div>
                <div class="type">معامله</div>
            </div>
        </div>
        <!-- پایان: Savings -->
    </div>
    <!-- پایان: Coupon data -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="sale label label-pink">فروش</li>
            <li>
                <span class="used-count">27 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">10% تخفیف اضافی برای چمدان‌های منتخب + تا 150 دلار بازگشت امتیاز برای اعضا + ارسال رایگان</a>
        </h4>
        <p data-toggle="collapse" data-target="#8">این معاملات روزانه Shopname را خریداری کنید تا صرفه‌جویی کنید...</p>
        <p id="8" class="collapse">تخفیفات کوپن را از دست ندهید. همین حالا کوپن خود را دریافت کنید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="موفق بود">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="موفق نبود">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- پایان: Btn group -->
            </li>
            <li class="list-inline-item">30% از 54 توصیه کرده‌اند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک‌گذاری</a>
            </li>
        </ul>
        <!-- پایان: Coupon details -->
    </div>
    <!-- پایان: Coupon cont -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">دریافت کد</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- پایان: coupon wrap -->
<div class="coupon-wrapper row">
    <div class="coupon-data col-sm-2 text-center">
        <div class="savings text-center">
            <div>
                <div class="large">50%</div>
                <div class="small">تخفیف</div>
                <div class="type">کوپن</div>
            </div>
        </div>
        <!-- پایان: Savings -->
    </div>
    <!-- پایان: Coupon data -->
    <div class="coupon-contain col-sm-7">
        <ul class="list-inline list-unstyled">
            <li class="promo label label-pink">کد تبلیغاتی</li>
            <li class="sale label label-warning">در حال اتمام</li>
            <li>
                <span class="used-count">51 بار استفاده شده</span>
            </li>
        </ul>
        <h4 class="coupon-title">
            <a href="#">ضد تعریق و دئودورانت مردانه Jack Black Pit Boss</a>
        </h4>
        <p data-toggle="collapse" data-target="#more-4">خرید آنلاین و تحویل در فروشگاه برای صرفه‌جویی 15% یا 20%...</p>
        <p id="more-4" class="collapse">تخفیفات کوپن را از دست ندهید. همین حالا کوپن خود را دریافت کنید و صرفه‌جویی کنید</p>
        <ul class="coupon-details list-inline">
            <li class="list-inline-item">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="left" title="" data-original-title="موفق بود">
                        <i class="ti-thumb-up"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="موفق نبود">
                        <i class="ti-thumb-down"></i>
                    </button>
                </div>
                <!-- پایان: Btn group -->
            </li>
            <li class="list-inline-item">30% از 54 توصیه کرده‌اند</li>
            <li class="list-inline-item">
                <a href="#">اشتراک‌گذاری</a>
            </li>
        </ul>
        <!-- پایان: Coupon details -->
    </div>
    <!-- پایان: Coupon cont -->
    <div class="button-contain col-sm-3 text-center">
        <p class="btn-code" data-toggle="modal" data-target=".couponModal">
            <span class="partial-code">BTSBAGS</span> <span class="btn-hover">دریافت کد</span>
        </p>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-star"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-email"></i>
            </button>
            <button type="button" class="btn btn-default btn-xs">
                <i class="ti-mobile"></i>
            </button>
        </div>
    </div>
</div>
<!-- پایان: coupon wrap -->
</div>
</div>
<!-- end: Tab content -->
<div class="clearfix"></div>
<div class="widget">
    <!-- /widget heading -->
    <div class="widget-heading">
        <h3 class="widget-title text-dark">
            فروشگاه‌های برتر
        </h3>
        <div class="widget-widgets">
            <a href="#">مشاهده بیشتر فروشگاه‌ها <span class="ti-angle-right"></span></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 thumb">
                <div class="thumb-inside">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                    </a>
                    <span class="favorite">
                        <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="ذخیره فروشگاه">
                            <i class="ti-heart"></i>
                        </a>
                    </span>
                </div>
                <div class="store_name text-center">
                    <h5>Wallshop</h5>
                </div>
            </div>
            <!-- /thumb -->
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 thumb">
                <div class="thumb-inside">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                    </a>
                    <span class="favorite">
                        <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="ذخیره فروشگاه">
                            <i class="ti-heart"></i>
                        </a>
                    </span>
                </div>
                <div class="store_name text-center">
                    <h5>Shopers</h5>
                </div>
            </div>
            <!-- /thumb -->
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 thumb">
                <div class="thumb-inside">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                    </a>
                    <span class="favorite">
                        <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="ذخیره فروشگاه">
                            <i class="ti-heart"></i>
                        </a>
                    </span>
                </div>
                <div class="store_name text-center">
                    <h5>Shoplogo</h5>
                </div>
            </div>
            <!-- /thumb -->
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 thumb">
                <div class="thumb-inside">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                    </a>
                    <span class="favorite">
                        <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="ذخیره فروشگاه">
                            <i class="ti-heart"></i>
                        </a>
                    </span>
                </div>
                <div class="store_name text-center">
                    <h5>Affiliate</h5>
                </div>
            </div>
            <!-- /thumb -->
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 thumb">
                <div class="thumb-inside">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                    </a>
                    <span class="favorite">
                        <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="ذخیره فروشگاه">
                            <i class="ti-heart"></i>
                        </a>
                    </span>
                </div>
                <div class="store_name text-center">
                    <h5>Coupons</h5>
                </div>
            </div>
            <!-- /thumb -->
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 thumb">
                <div class="thumb-inside">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="http://placehold.it/240x240" alt="">
                    </a>
                    <span class="favorite">
                        <a href="#" data-toggle="tooltip" data-placement="left" title="" data-original-title="ذخیره فروشگاه">
                            <i class="ti-heart"></i>
                        </a>
                    </span>
                </div>
                <div class="store_name text-center">
                    <h5>Discounts</h5>
                </div>
            </div>
            <!-- /thumb -->
        </div>
    </div>
</div>

<ul class="nav nav-tabs" id="multitabs">
    <li class="active">
        <a data-toggle="tab" href="#tab1">فروشگاه‌های محبوب</a>
    </li>
    <li class="">
        <a data-toggle="tab" href="#tab2">دسته‌بندی‌های محبوب</a>
    </li>
</ul>
<div class="tab-content clearfix" id="multitabsContent">
    <div id="tab1" class="tab-pane counties-pane active">
        <div class="col-sm-3">
            <div class="row coupons-cat">
                <div>
                    <a href="#">لندن</a>
                    <br> <a href="#">Shopname</a>
                    <br> <a href="#">ای‌بی</a>
                    <br> <a href="#">فروشگاه مد</a>
                    <br> <a href="#">Flexstore</a>
                    <br> <a href="#">فروشگاه مد</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row coupons-cat">
                <div>
                    <a href="#">لیورپول</a>
                    <br> <a href="#">Hostgator</a>
                    <br> <a href="#">Shopname</a>
                    <br> <a href="#">Envato</a>
                    <br> <a href="#">Noname</a>
                    <br> <a href="#">SomeStore</a>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row coupons-cat">
                <div>
                    <a href="#">لندن</a>
                    <br> <a href="#">Shopname</a>
                    <br> <a href="#">ای‌بی</a>
                    <br> <a href="#">فروشگاه مد</a>
                    <br> <a href="#">Flexstore</a>
                    <br> <a href="#">فروشگاه مد</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row coupons-cat">
                <div>
                    <a href="#">لیورپول</a>
                    <br> <a href="#">Hostgator</a>
                    <br> <a href="#">Shopname</a>
                    <br> <a href="#">Envato</a>
                    <br> <a href="#">Noname</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div id="tab2" class="tab-pane">
        <div class="col-sm-3">
            <div class="row coupons-cat">
                <div>
                    <a href="#">Avon</a>
                    <br> <a href="#">سفر</a>
                    <br> <a href="#">هدایا</a>
                    <br> <a href="#">بلیت‌ها</a>
                    <br> <a href="#">تلفن</a>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row coupons-cat">
                <div>
                    <a href="#">Durham</a>
                    <br> <a href="#">شارژ</a>
                    <br> <a href="#">اسباب‌بازی‌ها</a>
                    <br> <a href="#">مد</a>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row coupons-cat">
                <div>
                    <a href="#">Avon</a>
                    <br> <a href="#">سفر</a>
                    <br> <a href="#">هدایا</a>
                    <br> <a href="#">بلیت‌ها</a>
                    <br> <a href="#">تلفن</a>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row coupons-cat">
                <div>
                    <a href="#">Durham</a>
                    <br> <a href="#">شارژ</a>
                    <br> <a href="#">اسباب‌بازی‌ها</a>
                    <br> <a href="#">مد</a>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>