@{
    ViewData["Title"] = "Upload Excel File";
}



<form id="uploadForm" enctype="multipart/form-data" asp-action="UploadExcelFile" method="post">
    
    <div class="card">
        <div class="card-header"><h3>آپلود فایل</h3>
            <a href="/Admin/Discount/DownloadSampleExcel" class="btn btn-success mt-2">دانلود اکسل نمونه</a>

        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputFile">فایل را انتخاب کنید</label>
                <div class="custom-file">
                    <input type="file" name="file" id="exampleInputFile" class="custom-file-input " />
                    <label class="custom-file-label" for="exampleInputFile">انتخاب فایل</label>
                </div>
            </div>
        </div>
        <div class="card-footer"> <button type="submit" class="btn btn-primary">آپلود</button></div>
    </div>
    
   
</form>

<div id="loading" class="loading" style="display:none;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">در حال بارگذاری...</span>
    </div>
    <p>لطفا صبر کنید...</p>
</div>



@section Scripts {
<script>
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("exampleInputFile").files[0].name;
        var nextSibling = e.target.nextElementSibling;
        nextSibling.innerText = fileName;
    });

    document.getElementById('uploadForm').addEventListener('submit', function() {
        document.getElementById('loading').style.display = 'block';
    });
</script>
}

<style>
    .loading {
        position: fixed;
        z-index: 1000;
        height: 100%;
        width: 100%;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>
