@model Coupon.ApplicationContract.Dto.Categories.CreateCategoryDto
<form  asp-area="Admin" asp-controller="Category" asp-action="CreateCategroy" method="post">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">افزودن دسته بندی</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form role="form">
                <!-- text input -->
                <div class="form-group">
                    <label>نوشته</label>
                    <input type="text" asp-for="CategoryName" class="form-control" placeholder="وارد کردن اطلاعات ...">
                    <span asp-validation-for="CategoryName" class="text-danger"></span>

                </div>


                <!-- textarea -->
                <div class="form-group">
                    <label>متن</label>
                    <textarea class="form-control" asp-for="Description" rows="3" placeholder="وارد کردن اطلاعات ..."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>


            </form>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">ثبت</button>
        </div>
        <!-- /.card-body -->
    </div>
</form>